services:
  - type: web
    plan: free
    name: ROLEX-Auto-Filter-Bot-V2
    env: python
    buildCommand: pip3 install -U -r requirements.txt
    startCommand: python3 bot.py
    repo: https://github.com/rolex-filter-bot/ROLEX-Auto-Filter-Bot/tree/main.git      
    branch: main
    envVars:
      - key: BOT_TOKEN 
        sync: true
      - key: API_ID 
        sync: true
      - key: API_HASH
        sync: true
      - key: ADMINS
        sync: true
      - key: DATABASE_NAME
        sync: true
      - key: DATABASE_URI
        sync: true 
      - key: PICS
        sync: true
      - key: LOG_CHANNEL
        sync: true    
    autoDeploy: true
